---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout pageTitle={post.data.title}>
  <article class="prose dark:prose-invert">
    <h1 class="text-3xl font-bold mb-2 text-gray-900 dark:text-white">{post.data.title}</h1>
    <div class="mb-8 text-gray-600 dark:text-gray-400">{post.data.description}</div>
    <Content />
  </article>
</BaseLayout>
