---
const { title, url, description } = Astro.props;
---
<div class="mb-8">
  <a href={url} class="block">
    <h2 class="text-xl text-blue-500 hover:underline mb-1">{title}</h2>
    <p class="text-gray-700">{description}</p>
  </a>
</div>
