---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
  class?: string;
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
  readingTime?: number;
};

const {
  pubDatetime,
  modDatetime,
  class: className = "",
  timezone: postTimezone,
  readingTime,
} = Astro.props;

/* ========== Formatted Datetime ========== */
const isModified = modDatetime && modDatetime > pubDatetime;

const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
  postTimezone || SITE.timezone
);

const date = datetime.format("YYYY-MM-DD");
---

<div class:list={["flex items-center gap-x-2 opacity-55", className]}>
  {
    isModified && (
      <span class="text-sm">Updated:</span>
    )
  }
  <span class="text-sm">
    <time datetime={datetime.toISOString()}>{date}</time>
    {readingTime && <span> · {readingTime} min read</span>}
  </span>
</div>
